h1.entry-title {text-transform: uppercase; letter-spacing:2px;font-weight:800;margin: 0px auto;font-size:2.0em;text-align: center;color:#FFF;}
h2 {text-transform: uppercase; letter-spacing:2px;font-weight:800;margin: 0px auto;font-size:2.0em;text-align: center;color:#ad1a1f;}
h3 {font-size: 1.5em;}
h4 {font-size: 17; text-transform: uppercase; width: 93px;}
h5 {font-size: 17; text-transform: uppercase; width: 163px;}

h6.h2moreinfo {
color: black;
font-size: 18px;
}

p.moreinfo1 {
font-size: 19px;
color: black;
}
.linksettings{
  color: darkred;
  font-size: 20px;
}
.hrgame {
  width: 100%;
  color: black;
  border: dashed;
  height: 5px;
}
.suicidetitle {
  font-size: 24px;
}
